#gin-sidebar-draggable {
  position: fixed;
  display: block;
  width: 0.5rem;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 104;
}
[dir="ltr"] #gin-sidebar-draggable {
  right: calc(var(--gin-sidebar-offset) - 0.25rem);
}
[dir="rtl"] #gin-sidebar-draggable {
  left: calc(var(--gin-sidebar-offset) - 0.25rem);
}
#gin-sidebar-draggable:hover {
  cursor: ew-resize;
}